<% provide(:title, t('.title')) %>
<h1><%= t('.title') %></h1>
<p>
    <%= t('.about_p')[0] %>
    <a href="https://www.railstutorial.org/"><em><%= t('.about_p')[1] %></em></a>,
    <%= t('.about_p')[2] %>
    <a href="https://www.learnenough.com/"><%= t('.about_p')[3] %></a>
    <%= t('.about_p')[4] %>
    <a href="https://www.railstutorial.org/book"><%= t('.about_p')[5] %></a>
    <%= t('.about_p')[6] %>
    <a href="https://screencasts.railstutorial.org/"><%= t('.about_p')[7] %></a>
    <%= t('.about_p')[8] %>
    <a href="https://rubyonrails.org/"><%= t('.about_p')[9] %></a>.
    <%= t('.about_p')[10] %>.
</p>