<% provide(:title, t('.title')) %>
<h1><%= t('.title') %></h1>
<p>
    <%= t('.help_p')[0] %>
    <a href="https://www.railstutorial.org/help"><%= t('.help_p')[1] %></a>.
    <%= t('.help_p')[2] %>
    <a href="https://www.railstutorial.org/book"><em><%= t('.help_p')[3] %></em></a>.
</p>