<% provide(:title, t(:title, scope: [:pages, :help])) %>
<h1><%= t(:title, scope: [:pages, :help]) %></h1>
<p>
    <%= t(:help_p, scope: [:pages, :help])[0] %>
    <a href="https://www.railstutorial.org/help">
        <%= t(:help_p, scope: [:pages, :help])[1] %>
    </a>.
    <%= t(:help_p, scope: [:pages, :help])[2] %>
    <a href="https://www.railstutorial.org/book">
        <em>
            <%= t(:help_p, scope: [:pages, :help])[3] %>
        </em>
    </a>.
</p>